/* Styls for Final Prpject */
* {
    margin: 0;
    padding: 0;
    font-family: cursive
}
body{
    background-color: #f2f2f2;
}
ul {
    list-style: none
}
.clearfix {
    clear: both
}
.container {
    width: 950px;
    margin: auto
}
/* Styls for navbar */
nav {
    background-color: #d0c493;
    padding: 35px;
    
} 

nav * {
    text-decoration: none;    
}

#nav-a ul li {
    float: left;
    margin: -10px 3px;
}

#nav-b{
    float:right;
}

#nav-b ul li {
    float: right;
    margin:0 10px;
    margin-top: -19px;
}

#nav-b ul li a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color:#7f1618;
}
#nav-b ul li img {
    width: 50px;
    height: 50px;
    margin-right: 0px;
}
/* End styls for navbar */

/* styls for header */
header{
    background-image: url(../images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: block;
    margin-top: -1px;
    border-bottom: 2px dashed #fff;
    display:table;
    border-top: 2px dashed #fff;
    
}
header #header-div {
    text-align: center;
    color: #fff;
}
header #header-div img {
    width: 110px;
    height: 110px;
    margin-top: 70px;
    margin-left: 570px;
}
header #header-div h2 {
    margin-top: 25px;
}
#header-div button {
    color: #fff;
    margin: auto;
    display: block;
    padding: 6px 50px;
    background-color: #cc3e3a;
    border: 1px solid #b92c28;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    outline: 0;
    margin-top: 40px;
}

#sec1 .button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 480px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.button button {
    margin-right: 45px;
    border: none;
    font-size: 10pt;
}



#sec1 hr {
    margin:auto;
    width: 35%;
    margin-bottom: 20;
}


#sec1 {
    padding-bottom: 100px;
}

#sec1 .res {
    display:none;
    background: #fff;
    width: 30%;
    overflow: hidden;
    float: left;
    margin: 0 15px
}

#sec1 .res img {
    width: 100%;
    height: 25%;
}

#sec1 .res .res-body {
    float: right;
    padding:10px;
}


#sec1 .res .res-body .i1 i {
    color: #008800;
    margin-top: 15px;
    
}
#sec1 .res .res-body .i1  {
    margin-left: 45px;
    
}
#sec1 .res .res-body2 {
    margin-right: 100px;
    padding:10px;

}
#sec1 .res .res-body2 .i2 i {
    margin-top: 15px;
    color: #f1a52e;
}




/* End stayles for section 1*/
/* Styls for section 2 */
#sec2 {
    background-image: url(../images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: block;
    margin-top: 0;
    padding-bottom: 100px;
}
#sec2 h1 {
    text-align: center;
    color: #fff;
    font-size: 20pt;
    padding: 50px;
}

#sec2 .card {
    display: block;
    background:none;
    width: 30%;
    overflow: hidden;
    float: left;
    margin: 0 15px
}

#sec2 .card img {
    margin-left: 115px;
    margin-top: 10px;
    width: 20%
    
    
}

#sec2 .card .card-body {
    padding: 5px
}

#sec2 .card .card-body h3 {
    text-align: center;
    color: #fff;
    margin-top: 5px;

}

#sec2 .card .card-body p {
    font-size: 10pt;
    text-align: center;
    color: #fff;
    margin-top: 15px
    
}
#sec2 .card .card-body h6 {
    /* font-size: 10pt; */
    text-align: center;
    color: #fff;
    margin-top: 15px
    
}

/* End styles for section2 */

/* Styles for section3 */
#sec3 h2 {
    padding: 40px 0 10px;
    border-bottom:2px solid #111111 ;
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 0;
    
}
#sec3 hr {
    margin-top: 0;
    margin-bottom: 20;
}


#sec3 {
    padding-bottom: 100px;
}

#sec3 .res {
    background: #fff;
    width: 30%;
    overflow: hidden;
    float: left;
    margin: 0 15px
}

#sec3 .res img {
    width: 100%;
    height: 25%;
}

#sec3 .res .res-body {
    float: right;
    padding:10px;
}


#sec3 .res .res-body .i1 i {
    color: #008800;
    margin-top: 15px;
    
}
#sec3 .res .res-body .i1  {
    margin-left: 45px;
    
}
#sec3 .res .res-body2 {
    margin-right: 100px;
    padding:10px;

}
#sec3 .res .res-body2 .i2 i {
    margin-top: 15px;
    color: #f1a52e;
}
/* End styles for section3 */
/* Styles for section4 */
#sec4 img {
    width: 100%;
}
.hr44 {
    height: 13px;
    background-color:#232323 ;
    margin-bottom: -1px;

}
.hr55 {
    background-color: #821517;
    margin-top: -2px;
    height: 13px;

}
#sec4 span {
    background-color: #232323;
    color: #ffffff;
    padding: 15px;
    margin-left: 15px;
}
#sec4 span i {
margin-left: 10px;
}
/* End styles for section4 */

/* Styles for section5 */
#sec5 {
    background-color: #d0c493;
    height: 400px;
    padding-bottom: 50px;
}
#sec5 span {
    display: inline-block;
    background-color: #821517;
    color: #ffffff;
    padding: 15px 20px;
    margin: -2px 0 0 1210px;
}
#sec5 span i {
margin-left: 10px;
}
#sec5 .sec5_parts {
    width: 30%;
    float: right;
    margin: 0 20px 0 10;
    text-align: right;
    margin-top: 50px;
    color: #821517 ;
}


#sec5 .sec5_parts i {
    margin-left: 10px;
    color: #111111;
}

#sec5 .sec5_parts #sub {
    border-radius:2px ;
    background-color:#821517 ;
    color: #fff;
    padding: 5px 15px;    
    margin: 10px 155px 0 0;
}
#sec5 .sec5_parts #mail {
    height: 40px;
    width: 250px;
    text-align: right;
    margin: 5px 0 0 0;
}
#sec5 .sec5_parts .links i {
    color:#821517  ;
}
#sec5 .sec5_parts #nname {
    margin-top: 20px;
    height: 35px;
    width: 300px;
    text-align: right;
}
#sec5 .sec5_parts #eemail {
    margin-top: 5px;
    height: 35px;
    width: 300px;
    text-align: right;
}
#sec5 .sec5_parts #mmsg {
    margin-top: 5px;
    height: 100px;
    width: 300px;
    text-align: right;
}
/* End styles for section5 */

/* Styles for footer */
#footer {
    background-color: #8f7e52;
    height: 100px;
}
#foo_a ul li {
    float: left;
    margin: 40px 3px;
    color: #fff;
    
}
#foo-b{
    float:right;
}

#foo-b ul li {
    float: right;
}


#foo-b ul li img {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 20px ;
}
#foo-b ul li p {
    margin-top: 55px;
    color: #fff;
    margin-right: 10px;
}
#sec5 .sec5_parts.msg #sub{
    
    background-color:#821517 ;
    color: #fff;
    padding: 5px 15px;    
    margin: 7px 200px 0 0;
}     
/* End styles for footer */






/* End stils for Final Project */